@charset "utf-8";
@import "reset";
@import "module";

/*
* 全体設定ここから
*/
*{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;//10px
}
body{
    font-size: 1.6rem;//16px
    font-family: 'Noto Sans JP', sans-serif;
    background: linear-gradient(#fff,#a0d8ef);
    color: #333;
}
p{
    font-size: 1.6rem;//16px
}
li{
	list-style-type: none;
}
a{
	color:#333;
}
a:hover{
		color:#00acf0;
		border-bottom: #00acf0;
		background-color: #a0d8ef;
}

//FontAwsomeの隙間
// .fa{
//   padding-right: 0.8rem;
// }

//h1の文字隠し
.gl-header_title{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  }
/*
* 全体設定ここまで
*/

/*
* ヘッダー
*/
.gl-header {
  background-color: #a0d8ef;
  height: 50px;
  .navbar-brand {
  	padding-top: 0;
  	margin-right: 20px;
  }
  .navbar{
  	background-color: #a0d8ef;
  }
  /*
	* ロゴ（画像置換）
	*/
  &_title {
  	width: 76px;
  	height: 50px;
  	background: url("../images/logo.png") 0 0 no-repeat;
		// text-indent: -9999px;
		&:hover {
			opacity: 0.5;
		}
  }
.nav-menu{
	padding-left: 2rem;
	padding-right: 2rem;
}

  /*
	* ハンバーガーアイコン
	*/
  .navbar {
  	background-color: #fff;
  	.navbar-toggler {
  		background-color: #555;
  		.navbar-toggler-icon {
  			// background-color: #fff;
  			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

  		}
  	}
  }
}

/*
* ヒーローイメージ
*/
.hero {
	width: 100%;
	height: 500px;
	background: url("../images/penguinhero.jpg") center center no-repeat;
	background-size: cover;
	@media screen and (max-width: 768px) {
		height: 300px;
	}
}

/*
* ヒーローイメージ @member.html
*/
.catch {
	margin-top: 20px;
	width: 100%;
	height: 180px;
	background: url("../images/walkpenguin.png") 0 0 repeat-x;
	background-size: auto;
	@media screen and (max-width: 768px) {
		height: 180px;
	}
}

//ここからindex.html

//新着情報の新しいものにNEWのタグをつける
.block_body_lists > li:nth-child(1)::after{
  display        : inline-block;       /* インラインボックス定義  */
  content        : "NEW";              /* 表示する文字            */
  color          : #ff0000;            /* 文字色*/
  background-color: #fff;
  font-weight    : bold;               /* 太字 */
  font-size      : 7pt;                /* ベースの文字サイズ      */
  vertical-align : middle;             /* 基準の高さ位置          */
  line-height    : 1;                  /* 行の高さ                */
  margin-left    : 5px;                /* 左外余白                */
  padding        : 1px 2px;            /* 内余白                  */
}


//ここまでindex.html

/*
*ここからmember.html
*/
.seiretsu{
	display: flex;
	justify-content: space-between;
	// @media screen and (max-width: 768px) {
	// display:block;
	// width: 100%;
	// }
}

// .memberImg{
// 	display: inline-block;
// 	width: 250px;
// 	height: 250px;
// 	position: relative;
//  	overflow: hidden;
// 	border-radius: 50%;
// 	&_img{
// 		  position: absolute;
// 		  top: -100%;
// 		  bottom: -100%;
// 		  margin: auto;
// 	}
// }
// .row {
// 	margin-bottom: 5rem;
// 	h3{
// 		padding-top: 3rem;
// 		padding-bottom: 3rem;
// 		text-align: center;
// 	}
// }
.profile th, tr{
	font-weight: normal;
	height: 3rem;
}


/*
*ここまでmember.html
*/

//ここからcontact.html向けのCSS
.contact {
	margin-bottom: 6rem;
}
.btn-success {
	margin-left: 27.7rem;
	width:20rem;
	background-color: blue;
	opacity: 0.5;
	border-color: #333;
	margin-top: 2rem;
}
.btn-success:hover{
		background-color: blue;
		border-color:#333;
	}
.caution{
	border-color:#cc0000;
}
//ここまでcontact.html向けのCSS

//ここからstage.html向けのCSS
.cell-size{
	margin-bottom: 0;
}
.stageDetail{
	margin-left: 2rem;
	h5{
		padding: 2rem 1rem;
		font-size: 2.4rem;
	}
	p{
		padding: 1rem;
	}
}

//ここまでstage.html向けのCSS

//ここまでstagedetail.html向けのCSS
.main{
	h2{
		border-left: 5px solid #00acf0;
		padding-left: 1rem;
		font-weight: bold;
	}
	p{
		margin-bottom: 1rem;
		line-height: 2rem;
	}
	@media screen and (max-width: 768px){
		width: 100%;
	}
}
h3{
	margin-bottom: 3rem;
	display: block;
	// background-color: #ffffff;
	// border-left: 5px solid #60c7f0;
	border-bottom: 3px solid #00acf0;
	margin-top: 10rem;
	padding: 1rem;
	font-weight: bold;
}
.date{
	margin-left: 1rem;
	margin-bottom: 3rem;
	width: 100%;
	th{
		width: 8rem;
		font-weight: normal;
		vertical-align: top;
		border: 1px dotted #333;
		padding-top: .5rem;
		padding-left: .5rem;
	}
	td{
		width: 8rem;
		vertical-align: top;
		margin-bottom:.5rem;
		border: 1px dotted #333;
		padding-top: .5rem;
		padding-left: .5rem;
		text-align:center;
	}
}
.rate{
	margin-left: 1rem;
	margin-bottom: 3rem;
	width: 100%;
	padding-top: .5rem;
	padding-left: .5rem;
	th{
		width: 8rem;
		font-weight: normal;
		vertical-align: top;
		border: 1px dotted #333;
		padding-top: .5rem;
		padding-left: .5rem;
		text-align:center;
	}
	td{
		width: 8rem;
		vertical-align: top;
		text-align:center;
		margin-bottom:.5rem;
		border: 1px dotted #333;
		padding-top: .5rem;
		padding-left: .5rem;
	}

}
#day{
	text-align:left;
}

h4{
	margin-bottom: 2rem;
	border-bottom: 2px dotted #00acf0;
	padding: 1rem;
	margin-top: 2rem;
}
dt{
	// clear:left; これはなくても大丈夫そう
	float:left;
	font-weight: normal;
}
dt::before{
	content: "【";
}
dt::after{
	content: "】";
}
.kai{
	font-size: 1.4rem;
	padding-left: .5rem;
	th{
		font-weight: normal;
		width: 8rem;
		border: 1px dotted #333;
		padding-left: .5rem;
	}
	td{
		width: 15rem;
		border: 1px dotted #333;
		padding-left: .5rem;
	}
	caption{
	margin-top: 2rem;
	}
}
h5{
	font-size: 1.8rem;
	margin-bottom: 1.8rem;
	margin-top: 1.8rem;
}
i{
	padding-left: .2rem;
	padding-right: 1rem;
}
.stageleaflet{
	width: 30rem;
	text-align:center;
	margin: 3rem auto;
}
//ここまでstagedetail.html向けのCSS


//ここからblog.html向けのCSS
.cell-size{
	margin-bottom: 0;
}
.blogcontent{
	margin-left: 2rem;
	h5{
		margin-bottom: 0;
		padding-top: 1rem;
		font-size: 1.8rem;
		border-bottom: dotted 1px #333;
		font-weight: bold;
	}
	p{
		padding-top: .5rem;
	}
}
.blogImg{
	padding: 1rem;
	width: 100%;
		@media screen and (max-width: 768px) {
	display:none;

	}
}
//ここまでblog.html向けのCSS
//ここからarticle.html向けのCSS
.articledate{
	margin-bottom: 3rem;
}
.article{
	width: 80%;
	line-height: 2;
}
.articleImg{
	width: 50rem;
	min-height: 50rem;
	background:url("../images/cast.jpg") 0 center no-repeat;
	background-size: contain;
}
input{
	width: 30rem;
}
.send{
	margin-top: 2rem;
	:hover{
		opacity: 0.5;
	}
}
textarea{
	width: 30rem;
	height: 10rem;
}

//ここまでarticle.html向けのCSS

/*
* 共通コンテンツ
*/
.block {
	margin: 80px 0;
	&_body {
		&_title {
			padding-left: 10px;
			margin: 40px 0;
			border-left: 5px solid #00acf0;
			font-size: 2rem;
		}
		&_subtitle {
			margin: 40px 0;
			font-size: 1.4em;
		}
		&_p {
			margin: 40px 0;
			padding-bottom: 40px;
			line-height: 3;
			border-bottom: 1px dotted #00acf0;
		}
		&_lists {
			margin-bottom: 40px;
			li {
				padding-left: 40px;
				margin-bottom: 20px;
				display: flex;
				&::before {
					content: "";
					display: block;
					width: 12px;
					height: 12px;
					margin: 2px 10px 0 0;
					border-radius: 2px;
					background-color: #bbb;
				}
			}
		}
	}
}

/*
* フッター
*/
.gl-footer {
	width: 100%;
	height: 100px;
	padding-top: 60px;
	background-color: #fff;
	&_container {
		text-align: center;
	}
}

@import "second";
